<div class="main-page">
  <div class="welcome">
    <div class="welcome-wrapper">
      <h1>
        Welcome to myFlix!
      </h1>
      <div class="welcome-actions">
        <!-- event binding "(click)" used to invoke the respective functions in the 
          welcome-page component when the buttons are clicked -->
        <button
          mat-raised-button
          (click)="openUserRegistrationDialog()"
        >
          Sign Up
        </button>
        <button
          mat-raised-button
          (click)="openUserLoginDialog()"
        >
          Login
        </button>
      </div>
    </div>
  </div>
</div>